main {
  max-width: 37.5rem;
  flex: 1;
}

.profile-container {
  width: 100%;
  padding: 3.5rem 2.5rem;
  border-radius: 1rem;
  background-color: var(--color-grey-dark);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    
    display: inline-block;
    height: 8rem;
    border-radius: 100%;
    margin-bottom: var(--margin-big);
  }

  &__name {
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: var(--margin-small);
  }

  &__location {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: var(--margin-big);
  }

  &__text {
    color: var(--color-white);
    font-size: 1rem;
    margin-bottom: var(--margin-big);
  }
}